<div class="add-vechicle-container">
    <app-add-rent-section-vechicle *ngIf="vechicles"
        [vechicles]="vechicles" 
        [vechicleTypes]="vechicleTypes" 
        [addRentForm]="addRentForm"
    ></app-add-rent-section-vechicle>
    <app-add-rent-section-details 
        [selectedVechicleForm]="selectedVechicleForm"
    ></app-add-rent-section-details>
    <app-add-rent-section-date 
        [selectedVechicleForm]="selectedVechicleForm"
    ></app-add-rent-section-date>
    <div class="price-section">
        <span>Sekcja wyceny</span>
        <span>{{ "Szacowana wycena: " + getSummaryCost() + " PLN"}}</span>
    </div>
</div>
<div class="buttons-container">
    <button (click)="redirectToList()">Anuluj</button>
    <button [disabled]="!selectedVechicleForm.valid" (click)="redirectToNextStep()">Dalej</button>
</div>