<div class="rent-details">
    <span class="property-value property__id">{{ rentDetails.id }}</span>
    <span class="property-value property__first-name">{{ rentDetails.firstName || '-'}}</span>
    <span class="property-value property__last-name">{{ rentDetails.lastName || '-'}}</span>
    <span class="property-value property__vechicle">{{ rentDetails.vechicleType || '-'}}</span>
    <span class="property-value property__mark">{{ rentDetails.vechicleMark || '-'}}</span>
    <span class="property-value property__reg-id">{{ rentDetails.registrationNumber || '-'}}</span>
    <span class="property-value property__rent-date">{{ rentDetails.rentDate || '-'}}</span>
    <span class="property-value property__return-date">{{ rentDetails.returnDate || '-'}}</span>
</div>
