.input-container {
    padding: 16px;
}

.input-container > span {
    padding-right: 8px;
}

.client-details-container {
    padding: 16px;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 32px;
}

.buttons-container > button {
    height: 35px;
    width: 80px;
}

.input-error {
    color: red;
}